{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "parser": "typescript",
  "endOfLine": "auto",
  "bracketSpacing": true,
  "quoteProps": "as-needed",
  "arrowParens": "avoid",
  "useTabs": false
}